1. Operators are special symbols in Python that carryout Arithmetic and logical computation.
2. The value that operator operates on is called operand.

types:
1. Arithmetic operators.
2.comparision(relational) operators.
3.Logical(Boolean) operators.
4.Bitwise operators
5.assignment operators.
6.Special Operators

          2 + 3    # 2 and 3 are operands and + is operator

# Arithmetic Operators

1. Arithmetic Operators:add, sub, mul, div, modulus, persentile, square
                         +, -, *, /, %, **...

In [1]:
x,y = 10, 20
 
#addition
print (x+y)

#sub
print (x-y)

#mul
print (x*y)

#div
print (x/y)

30
-10
200
0.5

In [2]:
#modulo division 
print (15%2)                          # 2)15(7
                                      # ___14
                                      #   1 :  1 is remiender and hear it is Output

1

In [3]:
#Floor Division
print (15//2)                    # 15/2  = 7.5
                                #    ___>>____|____|______|___
                                 #   0       7 <  7.5 <  8
                            #output is whis is closest value to 7.5 and less than 7.5 so hear it is 7 is output value.

7

In [6]:
#Floor divisoin
print (-15//2)                          #-15/2 == -7.5
                                     #_____|______|______|____>> |
                                     #     -8 < -7.5 <   -7     0
                            #output is whis is closest value to -7.5 and less than -7.5 so hear it is -8 is output value.

-8

In [8]:
#Exponent(**)
print (2**3)
                                #x**y= x power y

8

# Comparision Operators

These are used for comparision of values either True or False according to conditon
  >,<, ==, !=, >=, <=,

In [9]:
a,b = 10, 20

print(a<b)
print(a>b)
print(a==b)
print (a!=b)
print (a>=b)
print (a<=b)

True
False
False
True
False
True

# Logical Operators

these are using directly with names.
and, or, not.

In [16]:
a, b = True, False
print (a and b)       # 1 * 0  = 0 (False)
print (a or b)        # 1 + 0  = 1 (True)

False
True

# Bitwise Operators

these are acts as operands as if they were string of binary digits, It operates bit by bit.
           &,|,~,^,>>,<<

In [17]:
a, b = 10, 4
#bitwise AND
print (a&b)

0

1. in according to    8      4    21code 
 10= value    is    1      0    1    0   that is (2 power 3, 2 power 2, 2 power 1 and 2 power 0)
2.  according to 8421 code 4 value is   0100 is (2power 2).

3.  1 0 1 0
4.  x x x x   muliplication 
5.  0 1 0 0
6.  0 0 0 0   result is 0

In [19]:
a, b = 10, 4
print (a|b)                              # 1 0 1 0    = 10 (8421) value
                                         # 0 1 0 0    = 4  (8421) value
                  # (or) operation result  1 1 1 0    = 14 (8421) value.

14

In [26]:
#Bitwise Not
a, b = 10, 4
print (!a)                     # 10 = 1010 ---->  not --->    0101=5
print (!b)                     #  4 = 0100 ---->  not --->    1011=11

SyntaxError: invalid syntax (<ipython-input-26-8fe291a9910a>, line 3)

In [96]:
a=1*2**3+0*2**2+1*2**1+0*2**0    # according to 8421 code  1 x 2**3 (2 to the power of 3) + 0x2**2 + 1x2**1 + 0*2**0
print(a)                    #1 x 2**3 (2 to the power of 3) + 0x2**2 + 1x2**1 + 0*2**0

10

In [98]:
b=0*2**3+1*2**2+0*2**1+0*2**0
print (b)

4

In [100]:
# & binary AND  (a and b) means (0010 1010)

In [ ]:
# | binary OR   (a or b) means (0010  1001)

binary XOR (^)

In [109]:
a = 60                                   # binary code 128 64 32 16 8 4 2 1    (0011 1100)
b = 13                                   # binary code (0   0  0  0 1 1 0 1)   (0000 1101)
c= a^b                                   #  XOR result is                      (0011 0001)
print (c)

49

binary ones complement means a = ~a like (1100 --> 0011)
  1's are changes to 0's and 0's changes to 1's

In [1]:
a = 60                                   # binary code 128 64 32 16 8 4 2 1 (0011 1100)
b = 13                                   # binary code (0   0  0  0 1 1 0 1)
c = ~a                                 # ones complement (1100 0011)  ----> ~60 equal to -61 in binary representation
d = ~b                                 # ones complement (1111 0010)  ----> ~13 equal to -14 in binary representation
print(c)
print(d)

-61
-14

(~) not is reverse value of given input with 1 increment means 1's complement 1 added to en of the binary code means it will increase by 1 value

2. if input is any positive value then output is negetive with increment 1 (+1) value

3. if input is any negetive value then output is positive with decrement 1 (-1) value

In [4]:
#for positive values
a = 20
b = 10
c = 40
d = 80

print(~a) 
print(~b)  
print(~c)
print(~d)

-21
-11
-41
-81

In [5]:
# for negetive values
a = -20
b = -10
c = -40
d = -80

print(~a) 
print(~b)  
print(~c)
print(~d)

19
9
39
79

In [ ]:
binary left shift (<<)

In [102]:
a = 60   # binary code 128 64 32 16 8 4 2 1 (0011 1100)
b= 13    # binary code (0   0  0  0 1 1 0 1)
  
c= a << 2  # 2 zeros shift  from left to right (0011 1100) then the result is  (1111 0000)--->240
print (c)

240

In [6]:
a = 60   # binary code 128 64 32 16 8 4 2 1 (0011 1100)
b= 13    # binary code (0   0  0  0 1 1 0 1)
  
c= a << 1  # 1 zero shift  from left to right  (0011 1100) then the result is  (0111 1000)--->120
print (c)

120

In [4]:
a = 60   # binary code 128 64 32 16 8 4 2 1 (0011 1100)
b= 13    # binary code (0   0  0  0 1 1 0 1)
  
c= a << 8  #if 8 zeros shift  from left side then the result is  (0011 1100 0000 0000)---> 15360
print (c)

15360

 binary right shift (>>)

In [105]:
a = 60   # binary code 128 64 32 16 8 4 2 1 (0011 1100)
b= 13    # binary code (0   0  0  0 1 1 0 1)
  
c= a >> 2  #if 2 zeros shift  from right side then the result is  (0000 1111)--->15
print (c)

15

In [106]:
a = 60   # binary code 128 64 32 16 8 4 2 1 (0011 1100)
b= 13    # binary code (0   0  0  0 1 1 0 1)
  
c= b >> 2  #if 2 zeros shift  from right side then the result is  (0000 0011)--->3
print (c)

3

# Assignment Operators

used for assign values for variables 
=, +=, -=, *=, %=, //=, &=, |=, ^=, >>=,<<=

In [37]:
a = 10

print(a)

a += 10                         # a = a + 10
print (a)

a -= 10                         # a = a - 10
print (a)

a *= 10                         # a = a * 10
print (a)

a %= 10                         # a = a % 10
print (a)

a //= 10                        # a = a // 10
print (a)

a &= 10                         # a = a & 10
print (a)

a |= 10                         # a = a | 10
print (a)

a >>= 10                        # a = a >>= 10
print (a)

a <<= 10                        # a = a <<= 10
print (a)

10
20
10
100
0
0
0
10
0
0

In [12]:
t = 0
for i in range(10):
    t += i   
    print(t)

0
1
3
6
10
15
21
28
36
45

In [10]:
a = 0
n=int(input("Enter a number: "))
for i in range(1,11):
   
    print(n,'*',i,'=',i * n)

Enter a number: 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [16]:
l = []
t = 0
for i in range(10):
    l.append(t += i)   
print(l)

SyntaxError: invalid syntax (<ipython-input-16-2c18c75258b0>, line 4)

In [29]:
print (a)

0

In [43]:
a=4
a += 4
print (a)      # a = a + 4  = 8

8

In [45]:
a=4
b=2
b += 4
print (a)
print (b)   # b = b + 4 = 6

4
6

In [47]:
a=4
b += 4
print (b)   # b = above b value 6 + 4 = 10

14

In [48]:
a=8
a += 8
print(a)

16

In [17]:
a = 120

a += 2

print(a)

122

# Special Operators

# 1.Identity Operators

is and is not  are identity operators 
if two variables are placed at same location of memory

In [50]:
a = 5
b = 5
print (a is b)             #only for thi like variables

True

In [55]:
l1 = [1, 2, 3]
l2 = [1, 2, 3]
print (l1 is l2)       # some times is  no for list, tuple or dictionies

False

In [56]:
t1 = (1, 2, 3)
t2 = (1, 2, 3)

print (t1 is t2)

False

In [58]:
# for strings
s1 = "AAIC"
s2 = "AAIC"
print (s1 is s2)

True

In [6]:
s1="AAIC MACHINE LEARNING COURSE"
S2="AAIC MACHINE LEARNING COURSE"
print(s1 is s2)

NameError: name 's2' is not defined

1. "is" is True is applicable for only integers and small strings
the integer range from -5 to 256 in between this integers will not allocate new object.
above the range 256 integers are allocate new objective memory location than result shows False.
2. in strings "is" is applicable for small strings with some letters or numbers or underscores but not for space in strings

In [10]:
s1= "AAICMACHINELEARNINGCOURSE"
s2= "AAICMACHINELEARNINGCOURSE"
print(s1 is s2)

True

In [18]:
s1= "AAICMACHINE LEARNINGCOURSE"
s2= "AAICMACHINE LEARNINGCOURSE"
print(s1 is s2)

False

In [19]:
s1= "AAICMACHINE@LEARNINGCOURSE"
s2= "AAICMACHINE@LEARNINGCOURSE"
print(s1 is s2)

False

In [20]:
s1= "AAICMACHINELEARNINGCOURSE"
s2= "AAICMACHINELEARNINGCOURSE"
print(s1 is s2)

True

In [63]:
a="h"
b="h"
print (a is b)

True

In [68]:
c= "hello"
d= "hello"
print (c is d)

True

In [67]:
c= "Hello good morning"
d= "Hello good morning"
print (c is d)

False

In [69]:
c= "Hellogoodmorning"
d= "Hellogoodmorning"
print (c is d)

True

In [72]:
a="hello123"
b="hello123"
print (a is b)
print (a == b)

True
True

# Membership Operators

"in" and "not in" are membership operators
used to best whether a value or variable is found in sequence (string, list, tuple and dictionary)

In [83]:
lst=[1,2,3,4]
print(1 in lst)

True

In [85]:
d={1:"a",2:"b"}
print (1 in d)     # only works for keys not for values in dictionary.

True