# Lists

Data Structure:

A data structure is a collection of data elements (such as numbers or charactersâ€”or even other data structures) that is structured in some way, for example, by numbering the elements. The most basic data structure in Python is the "sequence".

-> List is one of the Sequence Data structure

-> Lists are collection of items (Strings, integers or even other lists)

-> Lists are enclosed in [ ]

-> Each item in the list has an assigned index value.

-> Each item in a list is separated by a comma

-> Lists are mutable, which means they can be changed.

# List creation

In [4]:
empty_lst=[]
lst = ["one","two","three","four"]
lst2 = [1, 2, 3, 4]
lst3 = [[1,2], [3,4]]
lst4 = [1, 'ramu', 24, 1.24]
print (lst4)

[1, 'ramu', 24, 1.24]

# list length

In [22]:
lst = ["one","two","three","four"]
print(len(lst))

4

# list append

In [23]:
lst.append('five')      #appends at last index and onle one item can appends
print (lst)

['one', 'two', 'three', 'four', 'five']

In [24]:
a = lst.append('five')      
print (a)                   #return value is not accepting for inserting the elements in list

None

In [25]:
lst.append('five')     
print (lst)

['one', 'two', 'three', 'four', 'five', 'five', 'five']

In [28]:
lst.append('five')      
print (lst)

['one', 'two', 'three', 'four', 'five', 'five', 'five', 'five', 'five', 'five']

In [48]:
lst=[1,2,3,4,5,6,7,8,9]

lst.append(10)

print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# list insert

In [12]:
lst = ["one","two","four"]

lst.insert(2,'three')               

print (lst)

['one', 'two', 'three', 'four']

In [13]:
lst = ["one","two","four"]

lst.insert('three')               

print (lst)

TypeError: insert() takes exactly 2 arguments (1 given)

In [56]:
lst = ["one","two","four",["five","six","seven","eight","nine"]]
lst.insert(6, "ten")

print(lst)

['one', 'two', 'four', ['five', 'six', 'seven', 'eight', 'nine'], 'ten']

In [3]:
lst = ["one","two","three",["five","six"]]
lst.insert(0, "four")

print(lst)

['four', 'one', 'two', 'three', ['five', 'six']]

In [7]:
lst = ["one","two","three",["five","six"]]
lst[3].insert(0, "four")

print(lst)

['one', 'two', 'three', ['four', 'five', 'six']]

In [8]:
lst = ["one","two","three","four",["five","six"]]
lst[6].insert(2, "four")

print(lst)

IndexError: list index out of range

In [11]:
lst = ["one","two","three","four",["five","six"]]
lst[4].insert(2, "seven")                              #here lst[4] means sub list is at 4th index in main list
 
print(lst)

['one', 'two', 'three', 'four', ['five', 'six', 'seven']]

In [13]:
lst = ["one","two","three","four",["five",["six"]]]
lst[4][1].insert(1, "seven")                              #here lst[4] means sub list is at 4th index in main list
                                                         # and lst[4][1] means sub list of sub list index value
print(lst)

['one', 'two', 'three', 'four', ['five', ['six', 'seven']]]

In [68]:
lst = ["one","two","four"]

a = lst.insert(2,'three')               

print (a)                   #return value is not accepting for inserting the elements in list

None

# List remove

In [18]:
lst = ['one', 'two','three', 'four','two']

lst.remove('two')
print (lst)                #it removes the first occurence in the list

['one', 'three', 'four', 'two']

In [19]:
lst = ['one', 'two','three', 'four','two']

a = lst.remove('two')
print (a)                #return value is not accepting for remove the elements in list

None

# List append& extend

In [31]:
lst = ['one', 'two', 'three', 'four']
lst2 = ['five','six']
#append

lst.append(lst2)

print(lst)

['one', 'two', 'three', 'four', ['five', 'six']]

In [32]:
lst = ['one', 'two', 'three', 'four']
lst2 = ['five','six']
#append

print(lst.append(lst2))

None

# Extend

extend extends the two lists elements in one list

In [35]:
lst = ['one', 'two', 'three', 'four']
lst2 = ['five','six']

lst.extend(lst2)

print(lst)

['one', 'two', 'three', 'four', 'five', 'six']

In [36]:
lst = ['one', 'two', 'three', 'four']
lst2 = ['five','six']

print(lst.extend(lst2))

None

In [37]:
lst = ['one', 'two', 'three', 'four']
lst2 = ['five','six']

lst.extend(lst2)

print(lst)

['one', 'two', 'three', 'four', 'five', 'six']

In [38]:
lst = ['one', 'two', 'three', 'four']
lst2 = ['five','six']

lst.extend(lst2)

print(lst)

['one', 'two', 'three', 'four', 'five', 'six']

# List Delet

In [46]:
lst = ['one', 'two', 'three', 'four', 'five']

del lst[1]             # del  space lst[1] here del.lst[1] not requires

print(lst)

['one', 'three', 'four', 'five']

# pop

In [47]:
lst = ['one', 'two', 'three', 'four', 'five']

a = lst.pop(1)    #1th index is returns and stores at a variable location
                # we use only index values at lst.pop() brackets

print(a)
print(lst)

two
['one', 'three', 'four', 'five']

In [52]:
print(lst)

lst.append('two')
print (lst)

['one', 'three', 'four', 'five']
['one', 'three', 'four', 'five', 'two']

In [54]:
lst = ['one', 'two', 'three', 'four', 'five']

print (lst)

a = lst.pop(1)

print(a)
print(lst)

lst.insert(1,'two')
print(lst)

['one', 'two', 'three', 'four', 'five']
two
['one', 'three', 'four', 'five']
['one', 'two', 'three', 'four', 'five']

In [4]:
lst = ['one', 'two', 'three', 'four', 'five']

lst.remove('three')

print(lst)

['one', 'two', 'four', 'five']

In [7]:
lst = ['one', 'two',[ 'three', 'four'] ]

a = lst[2].pop(1)

print(a)

four

# List related key words in python

In [9]:
#keywords "in" is used to test if an item is in list

lst = ['one', 'two', 'three', 'four']
if 'two' in lst:
    print('AI')

AI

In [11]:
#key words not can combined with 'in'

if 'six' not in lst:
    print ('ML')

ML

# List Reverse

In [16]:
lst = ['one', 'two', 'three', 'four']
lst.reverse()                            #this is not  exists return any function
print(lst)

['four', 'three', 'two', 'one']

In [17]:
lst = [ 1, 2,3, 4]

lst.reverse()

print(lst)

[4, 3, 2, 1]

In [18]:
lst = ['one', 'two',3, 4, 'three', 'four']
lst.reverse()                           
print(lst)

['four', 'three', 4, 3, 'two', 'one']

In [22]:
lst = ['one', 'two',3, 4, 'three', 'four']
lst.reverse()                           
print(lst)

['four', 'three', 4, 3, 'two', 'one']

# List sorting

List  sorted   it the  ascendind order process

The easiest way to sort a List is with the sorted(list) function.

That takes a list and returns a new list with those elements in sorted order.

The original list is not changed.

The sorted() optional argument reverse=True, e.g. sorted(list, reverse=True), makes it sort backwards.

In [24]:
numbers = [3, 1, 4,  2 , 8]

srtd_nmbrs = sorted (numbers)         # it  returs a new list with sorted numbers

print (srtd_nmbrs)

[1, 2, 3, 4, 8]

In [28]:
# sorted function is not for  strings of list
lst = ['one', 'two', 'four', 'three']

lst1 = sorted (lst)

print (lst)

['one', 'two', 'four', 'three']

Ascending Order

In [29]:
numbers = [3, 1, 4,  2 , 8]

srtd_lst = sorted (numbers)         # it  returs a new list with sorted numbers

print ('sorted list:', srtd_lst)

print ('original list:', numbers)

sorted list: [1, 2, 3, 4, 8]
original list: [3, 1, 4, 2, 8]

Descending orde:

In [31]:
numbers = [3, 1, 4,  2 , 8]

srtd_lst = sorted (numbers, reverse=True)

print ('sorted list:', srtd_lst)

print ('original list:', numbers)

sorted list: [8, 4, 3, 2, 1]
original list: [3, 1, 4, 2, 8]

In [32]:
numbers = [3, 1, 4.2,  2 , 8]

srtd_lst = sorted (numbers, reverse=True)

print ('sorted list:', srtd_lst)

print ('original list:', numbers)

sorted list: [8, 4.2, 3, 2, 1]
original list: [3, 1, 4.2, 2, 8]

# Sort

In [36]:
lst = [1, 20, 5, 5.5]

lst.sort()            #here we dont require any return variable  we can directly sort the elements
print(lst)            # lst.sort() in brackets we won't mention any variable names

[1, 5, 5.5, 20]

In [40]:
lst = [1, 20, 5, 5.5]
 
a = lst.sort(lst)          # lst.sort() in brackets we won't mention any variable names

print (a)

TypeError: must use keyword argument for key function

In [42]:
lst = [1, 20, 5, 5.5]

lst.sort(lst) 

print (lst)

TypeError: must use keyword argument for key function

In [44]:
lst = [1, 20,'b', 5, 5.5,6,'a']

lst.sort()        #sort not supports for string functions

print (lst)

TypeError: '<' not supported between instances of 'str' and 'int'

# List Having Multiple References

In [49]:
lst = [1,2,3,4]

abc=lst
abc.append(6)          #the lst and abc are stored at same meory location

print(abc)

[1, 2, 3, 4, 6]

In [51]:
lst = [1,2,3,4]

abc=lst
abc.append(6)          

print(abc)
print(lst)

print (id(lst))

print(id(abc))

[1, 2, 3, 4, 6]
[1, 2, 3, 4, 6]
140250286463304
140250286463304

# String Split to create a list

In [56]:
a = "one,two,three,four"

b=a.split(',')      # it creats a list with splittint at ',', and it  returns at b variable as list

print(b)

['one', 'two', 'three', 'four']

In [58]:
a = "one,two,three,four"

a.split(',')      # it directle splitted without in list

print(a)

one,two,three,four

In [59]:
s = "This is applied AI course"   # it splitted at where spaces takes place in string

a = s.split()
print (a)

['This', 'is', 'applied', 'AI', 'course']

In [61]:
s = "This is applied AI course"   

a = s.split(" ")  # we can write also space like " ", 
print (a)

['This', 'is', 'applied', 'AI', 'course']

In [62]:
s = "This is applied AI course"   

a = s.split("")
print (a)

ValueError: empty separator

# List Indexing

In [64]:
lst = [1, 2, 3, 4]

print (lst[1])

2

In [65]:
lst = [1, 2, 3, 4]

print (lst[1])

print (lst[-1])

2
4

In [66]:
lst = [1, 2, 3, 4]

print (lst[1][[2]])

print (lst[-1])

TypeError: 'int' object is not subscriptable

# List Slicing

In [74]:
numbers = [10,20,30,40,50,60,70,80]

print (numbers[:])

print (numbers[0:7])         #it prints 0 to 6th index

print (numbers[0:4])         #it prints 0 to 3rd index

print (numbers[::2])

print (numbers[2::2])

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 20, 30, 40, 50, 60, 70]
[10, 20, 30, 40]
[10, 30, 50, 70]
[30, 50, 70]

In [76]:
numbers = [10,20,30,40,50,60,70,80]

print (numbers[-1:-7])

[]

In [77]:
numbers = [10,20,30,40,50,60,70,80]

print (numbers[-1::])

[80]

In [78]:
numbers = [10,20,30,40,50,60,70,80]

print (numbers[-1:1:])

[]

In [80]:
numbers = [10,20,30,40,50,60,70,80]

print (numbers[-1::2])

[80]

In [81]:
numbers = [10,20,30,40,50,60,70,80]

print (numbers[-1:0:1])

[]

In [82]:
numbers = [10,20,30,40,50,60,70,80]

print (numbers[-2])

70

In [84]:
numbers = [10,20,30,40,50,60,70,80]

print (numbers[-1:-10:-2])

[80, 60, 40, 20]

In [87]:
numbers = [10,20,30,40,50,60,70,80]

print (numbers[6:0:-1])

[70, 60, 50, 40, 30, 20]

In [88]:
numbers = [10,20,30,40,50,60,70,80]

print (numbers[0:6:-1])

[]

In [89]:
numbers = [10,20,30,40,50,60,70,80]

print (numbers[0:6:1])

[10, 20, 30, 40, 50, 60]

In [90]:
numbers = [10,20,30,40,50,60,70,80]

b = (numbers[0:6:1])

print (b)

[10, 20, 30, 40, 50, 60]

In [94]:
a = "online applied AI course"
print (a[0]+a[1]+a[2]+a[3]+a[4]+a[5]+a[6]+a[7]+a[8]+a[10]+a[11]+a[12]+a[13]+a[14]+a[15]+a[16]+a[17]+a[18]+a[19]+a[20]+a[21]+a[22]+a[23])

online aplied AI course

In [95]:
numbers = [10,20,30,40,50,60,70,80]

b = (numbers[0:6:1])

print (b)

[10, 20, 30, 40, 50, 60]

In [96]:
numbers = [10,20,30,40,50,60,70,80]

b = (numbers[0:6:1])

print (b)

[10, 20, 30, 40, 50, 60]

In [97]:
numbers = [10,20,30,40,50,60,70,80]

b = (numbers[0:6:1])

print (b)

[10, 20, 30, 40, 50, 60]

In [98]:
numbers = [10,20,30,40,50,60,70,80]

b = (numbers[0:6:1])

print (b)

[10, 20, 30, 40, 50, 60]

# List Extend

In [100]:
lst1 = [1,2, 3, 4]

lst2 = ['ramesh', 'vinay', 'sandeep', 'raju']

new_lst = lst1 + lst2            #with (+) function two lits are combined, 

print (new_lst)

[1, 2, 3, 4, 'ramesh', 'vinay', 'sandeep', 'raju']

# List Count

In [101]:
numbers = [1, 2, 3, 4, 1, 3, 4, 2, 5, 6, 8]

print (numbers.count(2))

2

In [102]:
numbers = [1, 2, 3, 4, 1, 3, 4, 2, 5, 6, 8]

print (numbers.count(3))

2

In [103]:
lst = ['ramesh', 'vinay', 'sandeep', 'raju', 'ramesh', 'vinay', 'sandeep', 'raju','vinay', 'sandeep', 'raju', 'ramesh']

print (lst.count('raju'))

3

In [106]:
lst = ['ramesh', 'vinay', 'sandeep', 'raju', 'ramesh', 'vinay', 'sandeep', 'raju','vinay', 'sandeep', 'raju', 'ramesh']

print (lst.count(lst[4]))

3

# List Looping

In [110]:
lst2 = ['ramesh', 'vinay', 'sandeep', 'raju']

for ele in lst2:
    print (ele) #iteerating each value in list

ramesh
vinay
sandeep
raju

In [114]:
lst2 = ['ramesh', 'vinay', 'sandeep', 'raju']

for index in lst2:
    print (index)

ramesh
vinay
sandeep
raju

In [116]:
lst2 = ['ramesh', 'vinay', 'sandeep', 'raju']

for a in lst2:
    print (a)

ramesh
vinay
sandeep
raju

In [120]:
lst2 = ['ramesh', 'vinay', 'sandeep', 'raju']

for a in lst2:
    print (a)

ramesh
vinay
sandeep
raju

In [5]:
lst2 = ['ramesh', 'vinay', 'sandeep', 'raju']

for i in lst2:
    print (i)
    i = i+1

ramesh

TypeError: must be str, not int

In [7]:
lst2 = "applied ai course"
for i in lst2:
    print(i)
    i = i+1

a

TypeError: must be str, not int

In [9]:
lst2 = "applied ai course"
for i in lst2:
    print(i)

a
p
p
l
i
e
d

a
i

c
o
u
r
s
e

In [11]:
lst = [1,2,3,4]
for i in lst:
    print (i)
    i = i+1

1
2
3
4

In [13]:
lst = [1,2,3,4]
for i in lst:
    print (i)
    i = i+2
    print(i)

1
3
2
4
3
5
4
6

# List Comprehension

1. it is reduce the code

In [16]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [17]:
# if we want above iteration values  places at list 

lst=[]
for i in range(10):
    lst.append(i)
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [47]:

lst=[]
for i in range(10):
    lst.append(i)
    print(lst)        #iterating over through all elements in 10 range  elemats

[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:

for i in range(10):
    print(i**2)

0
1
4
9
16
25
36
49
64
81

In [21]:
lst=[]
for i in range(10):
    lst.append(i**2)
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [1]:
l = [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

for i in l:
    print(i)

0
1
4
9
16
25
36
49
64
81

In [15]:
# with out list comprehension

lst = []
for i in range(10):
    lst.append(i**2)
print (lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

1. using List Comprehension
2. the above 4 line code convert into 2 line code

In [22]:
lst = [i**2 for i in range(10)]

print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [23]:
lst = [print(i**2 for i in range(10))]

<generator object <genexpr> at 0x7f7cb83ff9e8>

In [33]:
lst = [print(i**2) for i in range(10)] #here 1 line code stores at lst variable

0
1
4
9
16
25
36
49
64
81

In [32]:
lst = [(i**2) for i in range(10)] 
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [34]:
lst = [-10, -20, 10, 20, 30]
#creating new list with values doubled

new_lst = [i**2 for i in lst]

print(new_lst)

[100, 400, 100, 400, 900]

In [1]:
lst = [1,2,3,4]

a = [ i*2 for i in lst]

print(a)

[2, 4, 6, 8]

In [6]:
lst = [1,2,3,4]

a = [ i*2 for i in lst  if i>0]

print(a)

[2, 4, 6, 8]

In [3]:
lst = [1,2,3,4]

a = [ i*2 for i in lst  if i<0]

print(a)

[]

In [35]:
#creat new list to execute positive numbers

lst = [-10, -20, 10, 20, 30]

lst1 = [i  for i in lst  if i>=0]

print(lst1)

[10, 20, 30]

In [36]:
#creat new list to execute positive numbers

lst = [-10, -20, 10, 20, 30]

lst1 = [i  for i in lst  if i<=0]

print(lst1)

[-10, -20]

In [37]:
# creat a list of tuple like (number, square of number)

lst1 = [ (i, i**2) for i in range(10)]

print(lst1)

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]

In [45]:
# creat a list of tuple like (number, square of number)

lst1 = [(i, i**2) for i in range(10)]

print(lst1)

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]

In [46]:
d = {}
for i in range(20):
    d.append(i)
    
print(d)

# only list have this append attribute

AttributeError: 'dict' object has no attribute 'append'

# Nested list comprehension

 comprehenstion for Nested List

In [50]:
matrix = [
    [1, 2,  3,  4],
    [5, 6,  7,  8],
    [9, 10, 11, 12]
]

#transpose of matrix without list comprehension

transposed = []              #(creat transpose matrix)this is list for transpose elements can store in matrix

for i in range(4):           #4 times iteration
    lst = []                #creat empty list
                         
    for row in matrix:      
        lst.append(row[i])  #every element of row append in lst list
    transposed.append(lst)    #every lst append eith transpose matrix list

print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

The give above code ciprehension

In [52]:
# the total above code change into 2 line code

matrix = [
    [1, 2,  3,  4],
    [5, 6,  7,  8],
    [9, 10, 11, 12]
]


transposed = [[row[i] for  row in matrix] for i in range(4)]

print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [3]:
lst = [
    [2, 4, 6],
    [8, 9, 1],
    [2, 4, 8]
]

lst1 = [[row[i] for row in lst] for i in range(3)]

print(lst1)

[[2, 8, 2], [4, 9, 4], [6, 1, 8]]

In [5]:
lst = [
    [2, 4, 6],
    [8, 9, 1],
    [2, 4, 8]
]

lst1 = [[row[i] for row in lst] for i in  range(3)]

print(lst1)

[[2, 8, 2], [4, 9, 4], [6, 1, 8]]

In [6]:
lst = [
    [2, 4, 6],
    [8, 9, 1],
    [2, 4, 8]
]

lst1 = [[row[sublist_elements] for row in lst] for sublist_elements in  range(3)]

print(lst1)

[[2, 8, 2], [4, 9, 4], [6, 1, 8]]

# use of underscore in list of tuples

In [10]:
lst = [(0,1), (1,2),(2,3)]

# _, n = 1,2
#we ignore the 1st values in tuple  and we  will assign n values are 2nd values

print(list(n for _, n in lst))

[1, 2, 3]

In [3]:
lst = [(0,1), (1,2),(2,3)]

# n, _, = 1,2
#we ignore the value 12and we  will assign n = 1

print(list(n for  n, _, in lst))

[0, 1, 2]

In [6]:
lst = [(0,1), (1,2),(2,3)]

# _, n = 1,2
#we ignore the value 1 and we  will assign n = 2

print(list(n for _, n in lst))

result = sum (n for  _, n in lst)
print(result)

[1, 2, 3]
6

In [7]:
lst = [(0,1), (1,2),(2,3)]

# n, _ = 1,2
#we ignore the value 12and we  will assign n = 1

print(list(n for  n, _ in lst))

result = sum(n for  n, _ in lst)
print(result)

[0, 1, 2]
3

In [12]:
lst = [(0,1,2), (1,2,3),(2,3,4)]

#_,_, n = 1,2,3
#we ignore first secound elements in tuple and n = third elements

print(list(n for _,_,n in lst))

print(sum(n for _,_,n in lst))

[2, 3, 4]
9

# enumerate

In [26]:
l1 = ["ball", "apple", "fruit"]

s1 = "Australia"

obj1 = enumerate(l1)
obj2 = enumerate(s1)

print(obj1)
print(type(obj1))
print(obj2)
print(type(obj2))

print("*" * 100)



print(list(enumerate(l1)))

print(list(enumerate(s1)))

<enumerate object at 0x7ff5483aba20>
<class 'enumerate'>
<enumerate object at 0x7ff5483998b8>
<class 'enumerate'>
****************************************************************************************************
[(0, 'ball'), (1, 'apple'), (2, 'fruit')]
[(0, 'A'), (1, 'u'), (2, 's'), (3, 't'), (4, 'r'), (5, 'a'), (6, 'l'), (7, 'i'), (8, 'a')]

In [27]:
l1 = ["ball", "apple", "fruit"]

s1 = "Australia"

obj1 = enumerate(l1)
obj2 = enumerate(s1)

print(obj1)
print(type(obj1))
print(obj2)
print(type(obj2))

print("*" * 100)



print(enumerate(l1))

print(enumerate(s1))

<enumerate object at 0x7ff5483af630>
<class 'enumerate'>
<enumerate object at 0x7ff548399bd0>
<class 'enumerate'>
****************************************************************************************************
<enumerate object at 0x7ff548399ea0>
<enumerate object at 0x7ff548399ea0>

In [30]:
l1 = ["ball", "apple", "fruit"]

s1 = "Australia"

obj1 = enumerate(l1)
obj2 = enumerate(s1)

print(obj1)
print(type(obj1))
print(obj2)
print(type(obj2))

print("*" * 100)



print(list(enumerate(l1)))            #it only returns list of tuples

print(list(enumerate(s1)))

<enumerate object at 0x7ff548399948>
<class 'enumerate'>
<enumerate object at 0x7ff5483af288>
<class 'enumerate'>
****************************************************************************************************
[(0, 'ball'), (1, 'apple'), (2, 'fruit')]
[(0, 'A'), (1, 'u'), (2, 's'), (3, 't'), (4, 'r'), (5, 'a'), (6, 'l'), (7, 'i'), (8, 'a')]

# map,split

In [33]:
lst = list(map(int, input().split()))

print(lst)

1 2 3 4 5 6 7 8 9 2
[1, 2, 3, 4, 5, 6, 7, 8, 9, 2]

In [34]:
lst = list(map(int, input().split()))

print(lst)

2.4 4 4 2

ValueError: invalid literal for int() with base 10: '2.4'

In [36]:
lst = list(map(float, input().split()))

print(lst)

2.2 2.6
[2.2, 2.6]

In [42]:
lst = list(map(float, input().split("#")))

print(lst)

2.2#    2.2# 2.4#2.2
[2.2, 2.2, 2.4, 2.2]