# Tuples

1.  A tuple is similar to list
2. we cant change elements in Tuples(immutable)
3. but in list all elements are mutable
4 indicates with paranthesis('hello',)

# Tuple Creation

In [1]:
t = ()
print (type(t))

<class 'tuple'>

In [2]:
t = (1,2,3)
print(t)

(1, 2, 3)

In [3]:
#mix datatypes

t = (1, 'raju', 28, 'abc')

print(t)

(1, 'raju', 28, 'abc')

In [5]:
#nested tuple
t=(1, 2, (3,4,5,6),[7,8,9])

print(t)

print (t[1])

print (t[2])

print (t[3])

(1, 2, (3, 4, 5, 6), [7, 8, 9])
2
(3, 4, 5, 6)
[7, 8, 9]

In [8]:
print (t.index(1))   #exact elements index position in tuple

0

In [9]:
print (t.index(2))

1

In [10]:
# only paranthesis is not enough

t = ("ramesh")

print (type(t))       #it shows string type data

<class 'str'>

In [13]:
#need a comma at end

t = ("ramesh",)

print (type(t))       #it shows tuple data type in tuple

<class 'tuple'>

In [16]:
t = ("ramesh","raju")

print(type(t))

<class 'tuple'>

In [17]:
#paranthesis is optional

t = "ramesh",

print (type(t))

<class 'tuple'>

In [18]:
t = "ramesh"

print (type(t))

<class 'str'>

# Accesing elements in Tuple

In [19]:
t = ("ramesh", "hareesh", "vinay", "raju")

print(t[1])

hareesh

In [21]:
# tuples are immutable
t[1] = "laxman"
print(t)

TypeError: 'tuple' object does not support item assignment

Nested Tuple

In [22]:
t = ('abc', ('ramesh','navin','srinu'))

print(t[1])

('ramesh', 'navin', 'srinu')

# Slicing

In [23]:
t = (1, 2, 3, 4, 5, 6)

print (t[2])

3

In [24]:
print (t[])

SyntaxError: invalid syntax (<ipython-input-24-e6c178c4453b>, line 1)

In [25]:
print (t[2])

3

In [26]:
print (t[:])

(1, 2, 3, 4, 5, 6)

In [27]:
print (t[0:5])

(1, 2, 3, 4, 5)

In [28]:
print (t[0:6])

(1, 2, 3, 4, 5, 6)

In [29]:
print (t[0:10])

(1, 2, 3, 4, 5, 6)

In [30]:
print (t[:-2])

(1, 2, 3, 4)

In [35]:
print (t[-1:1:1])

()

In [36]:
print (t[-1:1:-1])

(6, 5, 4, 3)

# Changing a Tuple

In [38]:
#immutable
# creating a  tuple
t = (1, 2, 3, 4, [5, 6, 7, 8])

In [39]:
t[2]='x'

TypeError: 'tuple' object does not support item assignment

In [41]:
t = (1, 2, 3, 4, [5, 6, 7, 8])
t[4][1]='ramesh'                      #here list is muatble 
                                       
print(t)

(1, 2, 3, 4, [5, 'ramesh', 7, 8])

In [43]:
t = (1, 2, 3, 4, [5, 6, 7, 8])
t[4]='ramesh'                        #comple list also one element of the tuple so immutable 
                                       
print(t)

TypeError: 'tuple' object does not support item assignment

# concatinating Tuple

In [44]:
t = (1, 2, 3) + (4, 5, 6)

print (t)

(1, 2, 3, 4, 5, 6)

In [46]:
t = (1, 2, 3) + ("hello", "friends", )

print(t)

(1, 2, 3, 'hello', 'friends')

In [49]:
t = (1, 2, 3) +(8,2,(4, 5, 6))

print (t)

(1, 2, 3, 8, 2, (4, 5, 6))

In [52]:
t = (1, 2, 3) +(8,2,(4, 5, 6),4,2)

print (t)

(1, 2, 3, 8, 2, (4, 5, 6), 4, 2)

In [53]:
t = tuple([1,2,3])+tuple([2,4,6])

print(t)

(1, 2, 3, 2, 4, 6)

In [56]:
# repeat the elements in tuple and repeat 4 times and creat in (t) variable

t = (('ramesh',) *4)

print(t)

('ramesh', 'ramesh', 'ramesh', 'ramesh')

In [2]:
t = ('ramesh',) *4    

print(t)

('ramesh', 'ramesh', 'ramesh', 'ramesh')

In [1]:
t = (1,2,3,4)

print(t.append(6))

AttributeError: 'tuple' object has no attribute 'append'