1. we can not change elements from Tuple
2.  that means we can not remove or delet elements from tuple(immutable)

3. delet entire tuple using del keyword

In [2]:
t = (1, 2, 3, 4, 5, 6)

del (t)

In [4]:
t = (1, 2, 3, 4, 5, 6)

del (t)

print(t)

NameError: name 't' is not defined

In [5]:
t = (1, 2, 3, 4, 5, 6)

del (t[1])

TypeError: 'tuple' object doesn't support item deletion

#  Tuple count

In [7]:
t = (1, 2, 3, 4, 1, 3, 4,  5, 6)

t.count(1)

2

In [8]:
t = ["ramesh", "ajay", "vinay", "hareesh", "ramesh","ramesh","ajy"]

t.count("ramesh")

3

# Tuple index

In [9]:
t = (1, 2, 3, 4, 3)

t.index(2)

1

In [11]:
t = ["ramesh", "ajay", "vinay", "hareesh", "ramesh","ramesh","ajy"]

t.index("ramesh")

0

In [13]:
t = ["ramesh", "ajay", "vinay", "hareesh", "ramesh","ramesh","ajy"]

t.index("hareesh")

3

# Tuple Membership

In [14]:
t = (1, 2, 3, 4, 5, 6)

print (1 in t)

True

In [16]:
t = (1, 2, 3, 4, 5, 6)

print (2 in t)

True

In [19]:
t = (1, 2, 3, 4, 5, 6)

print (10  not in t)

True

In [18]:
t = (1, 2, 3, 4, 5, 6)

print (8  not in t)

True

In [20]:
t = (1, 2, 3, 4, 5, 6)

print (8   in t)

False

In [21]:
t = (1, 2, 3, 4, 5, 6)

print (8  not in t)

True

# Tuple Length

In [23]:
t = (1, 2, 3, 4, 5, 6)
print (len(t))

6

In [24]:
t = (1, 2, 3, 4, 5, (6, 7, 8, 9))
print (len(t))

6

In [26]:
t = (1, 2, 3, 4, 5, "ramesh")
print (len(t))

6

# Tuple Sort

In [33]:
t = (4, 5, 1, 3, 2,6)

new_t = sorted(t)

print(new_t)

[1, 2, 3, 4, 5, 6]

In [36]:
t = (4, 5, 1, 3, 2,6)

new_t = sort(t)

print(new_t)

NameError: name 'sort' is not defined

In [37]:
t = (4, 5, 1, 3, 2,6,"ramesh")

new_t = sorted(t)

print(new_t)

TypeError: '<' not supported between instances of 'str' and 'int'

In [38]:
t = (4, 5, 1, 3, 2,6)

new_t = sorted(t, reverse=True)

print(new_t)

[6, 5, 4, 3, 2, 1]

In [39]:
t = (4, 5, 1, 3, 2,6)

new_t = sorted(t)

print(new_t)

[1, 2, 3, 4, 5, 6]

In [40]:
t = (4, 5, 1, 3, 2,6)

new_t = sorted(t)

print(new_t)

[1, 2, 3, 4, 5, 6]

# Largest element

In [43]:
t = (4, 5, 1, 3, 2,6)

print (max(t))

6

In [46]:
t = (4, 5, 1, 3, 2,6)

max(t)

6

In [47]:
t.max()

AttributeError: 'tuple' object has no attribute 'max'

# min

In [48]:
t = (4, 5, 1, 3, 2,6)

min(t)

1

# sum

In [49]:
t = (4, 5, 1, 3, 2,6)

sum(t)

21

# zip()

In [1]:
t1 = (1,2,3,4)

t2 = (2,3,4,5)

t3 = tuple(a*b for a,b in zip(t1,t2))

print(t3)

(2, 6, 12, 20)

In [1]:
t1 = (1,2,3,4)

t2 = (2,3,4,5)

for a,b in zip(t1,t2):
    print(a*b)

2
6
12
20

In [4]:
t1 = (1,2,3,4)

t2 = (2,3,4,5)

for a,b in t1,t2:
    
    print(tuple(a,b))

ValueError: too many values to unpack (expected 2)

In [8]:
t1 = (1,2,3,4)

t2 = (2,3,4,5)

for a,b in zip(t1,t2):
    
    c = a*b
    
    print(c)

2
6
12
20

In [2]:
t1 = (1,2,3,4)

t2 = (2,3,4,5)

l=[]

for a,b in zip(t1,t2):
    
    c = a*b
    
    l.append(c)
    
print(l)

[2, 6, 12, 20]

In [17]:
t1 = (1,2,3,4)

t2 = (2,3,4,5)

l=[]

for a,b in zip(t1,t2):
    
    c = a*b
    
    l.append(c)
    
print(l)

[2, 6, 12, 20]