# Strings

1. A string is a sequence of characters

2. Computer does not deals with charecters but deals with numbers,
   maybe we can see charecters on screen but internally it shows 0;s and 1's
    this process charecters convertss into numbers is encodinng and reverse process is decoding
    examples ASCII nd Uniocode  are popular encoding techniques
    
3. In Python, string is a sequence of Unicode character

In [3]:
my_string = "Hello"
print(my_string)

my_string = 'Hello'
print(my_string)

my_string = '''Hello'''
print(my_string)

Hello
Hello
Hello

# How to create a string?

Strings can be created by enclosing characters inside a single quote or double quotes. 

Even triple quotes can be used in Python but generally used to represent multiline strings and docstrings.

In [9]:
my_string = "Hello world"
print(my_string[0])

print(my_string[-1])

print(my_string[2])

print(my_string[0:11])

print(my_string[-1:-11])

H
d
l
Hello world

In [6]:
print(my_string[-1:-11])

In [7]:
print(my_string[-1:0])

In [8]:
print(my_string[-1:0:-1])

dlrow olle

In [11]:
my_string = "Hello world"

print(my_string[0:-1:1])

Hello worl

In [12]:
my_string = "Hello world"

print(my_string[0:11:1])

Hello world

# How to change or delete a string ?

1. strings are immutable This means that elements of a string cannot be changed once it has been assigned.

2. We can simply reassign different strings to the same name.

In [13]:
my_string = "Hello world"

my_string[4] = "d"

print(my_string)

TypeError: 'str' object does not support item assignment

In [16]:
# we can not remove charecters from string but deleting the string entirly is possible

my_string = "Hello world"

del my_string

In [17]:
my_string = "Hello world"

del my_string

print(my_string)

NameError: name 'my_string' is not defined

# String Operations

# Concatenating

Joining of two or more strings into a single one is called concatenation.

The + operator does this in Python. Simply writing two string literals together also concatenates them.

The * operator can be used to repeat the string for a given number of times.

In [20]:
s1 = "Hello  "
s2 = "Ramesh"

print(s1+s2)

Hello  Ramesh

In [21]:
s1 = "Hello  "
s2 = "Ramesh"

print (s1 * 3)

Hello  Hello  Hello

# Iterating Through String

In [22]:
count = 0

for l in "Hello world":
    if l == 'o':
        count += 1
print(count, 'letters found')

2 letters found

In [23]:
count = 0

for i in "Hello world":
    if i == 'h':
        count += 1
print(count, 'letters found')

0 letters found

In [1]:
a = 'hello world'

a.count('o')

2

In [2]:
a = 'hello world'

a.count('l')

3

In [28]:
count = 0

for l in "Hello world":
    if l == 'l':
        count += 1
print(count, 'letters found')

3 letters found

In [41]:
count = 0


for l in "Hello world":
    if l == 'e':
        count += 1
print(count, 'letters found')

1 letters found

# String Membership Test

In [42]:
print('l' in "hello world")

True

In [43]:
print('or' in "hello world")

True

# String Methods

In [44]:
"Hello".upper()

'HELLO'

In [48]:
"Hello".lower()

'hello'

In [46]:
"This will split all words".split()

['This', 'will', 'split', 'all', 'words']

In [2]:
"This will split all words".split(",")

['This will split all words']

In [3]:
"This will split all words".split(" ")

['This', 'will', 'split', 'all', 'words']

In [4]:
"This will split all words".split()

['This', 'will', 'split', 'all', 'words']

In [51]:
_.join(['This', 'will', 'split', 'all', 'words'])

'Thishellowillhellosplithelloallhellowords'

In [52]:
" ".join(['This', 'will', 'split', 'all', 'words'])

'This will split all words'

In [53]:
",".join(['This', 'will', 'split', 'all', 'words'])

'This,will,split,all,words'

In [54]:
"-".join(['This', 'will', 'split', 'all', 'words'])

'This-will-split-all-words'

In [60]:
" ".join(['This', 'will', 'split', 'all', 'words'])

'This will split all words'

In [62]:
"Hello world".find('wo')

6

In [63]:
"Hello Ramesh".find('H')

0

In [67]:
s1 = "Hello Ramesh"

s2 = s1.replace('Ramesh', 'Raju')      #strings are immutable charecters are not changable but strings are changable

print (s1)

print(s2)

Hello Ramesh
Hello Raju

In [68]:
s1 = "Hello Ramesh"

s2 = s1.replace('Ramesh', 'Raju')     

print (s1)

print(s2)

Hello Ramesh
Hello Raju

# Python Program to Check where a String is Palindrome or not ?

In [70]:
mystr = "Madam"

#convert entire string to either lower or upper

mystr = mystr.lower()

#reverse string

revstr = reversed(mystr)

#check if the string is equal to its reverse

if list(mystr) == list(revstr):
    print('Given string is palindrome')
    
else:
    print("Given string is not polindrome")

Given string is palindrome

# Python Program to Sort Words in Alphabetic Order?

In [10]:
mystr = "Python program to sort words in Alphabetic orde"

#breakdown the string into list of words
words = mystr.split()

#sort the list
words.sort()

#print sorted words are
for word in words:
    print(word)

Alphabetic
Python
in
orde
program
sort
to
words

# strings attributes

In [2]:
a = "hello world"

print(dir(a))

print("\nlen of string attributes: ",len(dir(a)))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

len of string attributes:  77

# 1. capitalize`

it is used for to make first letter of the word become as capital letter

In [6]:
# 1. capitalize
a = "hello world"

print(a.capitalize())

Hello world

In [7]:
a = "hello world"

print(a[6].capitalize())

W

In [10]:
a = "hello world"

print(a[0:11].capitalize())

Hello world

# 2. Casefold

it converts uppercase alphabetic  leeters to lowercase alphabetic letters

In [13]:
b = "HELLO WORLD"

print(b.casefold())

hello world

In [16]:
b = "hello world"

print(b.casefold())

hello world

In [17]:
b = "hello @#$% world"

print(b.casefold())

hello @#$% world

# 3. center

it is used for to make string width - length of the string with padded characters

In [23]:
c = "hello ramesh how are you"

print(c.center(100))

                                      hello ramesh how are you

In [25]:
c = "hello ramesh how are you"

print(len(a))

print(c.center(50))

11
             hello ramesh how are you

# 4.count

In [26]:
c = "hello ramesh how are you"

print(c.count('a'))

2

In [27]:
c = "hello ramesh how are you"

print(c.count('e'))

3

# 5.encode

Computers do not deal with characters, they deal with numbers (binary). ... This conversion of character to a number is called encoding, and the reverse process is decoding. ASCII and Unicode are some of the popular encoding used. In Python, string is a sequence of Unicode character.

In [32]:
d = "hyderabad is capitalize city"

print(d.encode())

print(d)

b'hyderabad is capitalize city'
hyderabad is capitalize city

In [48]:
d = "hyderabad is capitalize city"

e = d.encode(encoding='ascii',errors='strict')

print(e)

f = e.decode(encoding='UTF-8',errors='strict')

print(f)

b'hyderabad is capitalize city'
hyderabad is capitalize city

# 6.endswith

In [49]:
d = "hyderabad is capitalize city"

print(d.endswith('y'))

True

In [50]:
d = "hyderabad is capitalize city"

print(d.endswith('t'))

False

In [52]:
d = "hyderabad is capitalize city"

print(d[0:9])
print(d[0:9].endswith('d'))

hyderabad
True

# 7.expandtabs

The expandtabs() takes an integer tabsize argument. The default tabsize is 8.

In [54]:
s = "abc\t123\t!@#"


#there is no anyother argument pass through the string
#by default the tab space is 8

print(s.expandtabs())

abc     123     !@#

In [57]:
s = "abc\t123\t!@#"

print(s.expandtabs(1))

print(s.expandtabs(2))

print(s.expandtabs(3))

print(s.expandtabs(4))

print(s.expandtabs(5))

print(s.expandtabs(6))

print(s.expandtabs(7))

print(s.expandtabs(8))

print(s.expandtabs(9))

print(s.expandtabs(10))

abc 123 !@#
abc 123 !@#
abc   123   !@#
abc 123 !@#
abc  123  !@#
abc   123   !@#
abc    123    !@#
abc     123     !@#
abc      123      !@#
abc       123       !@#

In [58]:
s = "abc\t123\t!@#"


print(s.expandtabs(20))

abc                 123                 !@#

# 8. find

In [59]:
d = "hyderabad is capitalize city"

print(d.find('h'))

0

In [60]:
d = "hyderabad is capitalize city"

print(d.find('d'))

2

In [61]:
d = "hyderabad is capitalize city"

print(d.find('e'))
print(d.find('c'))

3
13

# 9.index

In [63]:
d = "hyderabad is capitalize city"

print(d.index("y"))

1

In [64]:
d = "hyderabad is capitalize city"

print(d.index("b"))

6

# 10. isalnum

In [65]:
str = "hyderabad is metropolitian city"

print(str.isalnum())

False

In [66]:
str = "1234"

print(str.isalnum())

True

In [67]:
str = "1234@#"

print(str.isalnum())

False

In [68]:
str = "1234"

print(str.isalnum())

True

# 11. isalpha

In [70]:
str = "hyderabadismetropolitiancity"

print(str.isalpha())

True

In [71]:
str = "hyderabad is metropolitian city"

print(str.isalpha())

False

# 12. isdigit

In [78]:
str = "hyderabad is metropolitian city"
print(str.isdigit())

False

In [77]:
str='456'
print(str.isdigit())

True

# 13. zfill

The width specifies the length of the returned string from zfill() with '0' digits filled to the left.

In [81]:
a = "hello world"

print(a.zfill(40))

00000000000000000000000000000hello world

In [82]:
a = "hello world"

print(len(a))

print(a.zfill(10))

print(a.zfill(11))

print(a.zfill(12))

print(a.zfill(13))

11
hello world
hello world
0hello world
00hello world