# Anonymous / Lambda Function

anonymous meaning in english as choose name to function as variable

in Python, anonymous function is a function that is defined without a name.

While normal functions are defined using the def keyword, in Python anonymous functions are defined using the lambda keyword.

Lambda functions are used extensively along with built-in functions like filter(), map()

syntax:

lambda arguments: expression

# Example:

In [2]:
#normal function with define variable

def double(x):
    return x*2

print(double(4))

8

In [4]:
#using lambda keyword function

double = lambda x : x*2

print(double(4))

8

In [35]:
def double(x):
    if x%2 == 0:
        print(x,"is even number")
        
    else:
        print(x,"is odd number")
    
        
a = double(4)

print(a)

4 is even number
None

In [6]:
double = lambda x: x if x%2 == 0  else 'it is odd number'

a = double(4)
print(a)

4

In [8]:
double = lambda x: x if x%2 == 0  else 'it is odd number'

a = double(9)
print(a)

it is odd number

In [1]:
double = lambda x:  (x, ' is even') if (x%2 == 0)  else (x," is odd") 

a = double(9)
print(a)

(9, ' is odd')

In [58]:
double = lambda x:  " x is even" if (x%2 == 0)  else "x is odd"

a = double(4)
print(a)

 x is even

In [36]:
#for factorial

factorial = lambda  num: 1 if num==1 else num*factorial(num-1)

factorial(4)

24

In [38]:
#for factorial

factorial = lambda  num: 1 if num==1 else num*factorial(num-1)

factorial(6)

720

In [39]:
#for factorial

factorial = lambda  num: 1 if num==1 else num*factorial(num-1)

a = int(input("enter a number"))

print(factorial(a))

enter a number6
720

In [41]:
#using lamda function for factorial

factorial = lambda  num: 1 if num==1 else num*factorial(num-1)

a = int(input("enter a number"))

for i in range(1,a):
    print("the factorial of",i,"is:",factorial(i))

enter a number10
the factorial of 1 is: 1
the factorial of 2 is: 2
the factorial of 3 is: 6
the factorial of 4 is: 24
the factorial of 5 is: 120
the factorial of 6 is: 720
the factorial of 7 is: 5040
the factorial of 8 is: 40320
the factorial of 9 is: 362880

In [51]:
#using lamda function for factorial

factorial = lambda  num: 1 if num==1 else num*factorial(num-1)

a = int(input("enter a number"))

for i in range(1,a):
    print("the factorial of",i,"is:",factorial(i))

enter a number10
the factorial of 1 is: 1
the factorial of 2 is: 2
the factorial of 3 is: 6
the factorial of 4 is: 24
the factorial of 5 is: 120
the factorial of 6 is: 720
the factorial of 7 is: 5040
the factorial of 8 is: 40320
the factorial of 9 is: 362880

In [1]:
#using lamda function for factorial

factorial = lambda  num: 1 if num==1 or num==0 else num*factorial(num-1)

a = int(input("enter a number"))

for i in range(1,a):
    print("the factorial of",i,"is:",factorial(i))

enter a number0

In [2]:
#using lamda function for factorial

factorial = lambda  num: 1 if num==1 or num==0 else num*factorial(num-1)

a = int(input("enter a number"))

for i in range(1,a):
    print("the factorial of",i,"is:",factorial(i))

enter a number1

In [3]:
#using lamda function for factorial

factorial = lambda  num: 1 if num==1 or num==0 else num*factorial(num-1)

a = int(input("enter a number"))

for i in range(1,a):
    print("the factorial of",i,"is:",factorial(i))

enter a number6
the factorial of 1 is: 1
the factorial of 2 is: 2
the factorial of 3 is: 6
the factorial of 4 is: 24
the factorial of 5 is: 120

In [4]:
#using lamda function for factorial

factorial = lambda  num: 1 if num==1 or num==0 else num*factorial(num-1)

a = int(input("enter a number"))

for i in range(1,a):
    print("the factorial of",i,"is:",factorial(i))

enter a number20
the factorial of 1 is: 1
the factorial of 2 is: 2
the factorial of 3 is: 6
the factorial of 4 is: 24
the factorial of 5 is: 120
the factorial of 6 is: 720
the factorial of 7 is: 5040
the factorial of 8 is: 40320
the factorial of 9 is: 362880
the factorial of 10 is: 3628800
the factorial of 11 is: 39916800
the factorial of 12 is: 479001600
the factorial of 13 is: 6227020800
the factorial of 14 is: 87178291200
the factorial of 15 is: 1307674368000
the factorial of 16 is: 20922789888000
the factorial of 17 is: 355687428096000
the factorial of 18 is: 6402373705728000
the factorial of 19 is: 121645100408832000

# Example use with filter()

In [68]:
l = [1,2,3,4,5,6,7,8]

even_lst = list(filter(lambda x: (x%2==0), l))

print (even_lst)

[2, 4, 6, 8]

In [71]:
l = [1,2,3,4,5,6,7,8]

even_lst = list(filter(lambda x: (x%2==0), l))

print (even_lst)

[2, 4, 6, 8]

In [72]:
lst = [1,2,3,4,5,6,7,8,9]

even_num  = lambda x: x if (x%2 == 0) else "odd"

print(even_num)

<function <lambda> at 0x7fbe281f99d8>

In [74]:
l = [1,2,3,4,5,6,7,8]

even_lst = list(filter(lambda x: (x%2==0), l))

print (even_lst)

[2, 4, 6, 8]

In [76]:
l = [1,2,3,4,5,6,7,8]

even_lst = lambda x: (x%2==0)

In [78]:
l = [1,2,3,4,5,6,7,8]

even_lst = lambda x: (x%2==0)

print(list(filter(even_lst, l)))

[2, 4, 6, 8]

In [84]:
l = [1,2,3,4,5,6,7,8]

even_lst = lambda x: (x%2==0)

print(filter(even_lst, l))       #if there is no list or tuple it can not print because it cant print iterate values

<filter object at 0x7fbe280f1e48>

In [82]:
l = [1,2,3,4,5,6,7,8]

even_lst = lambda x: (x%2==0)

print(list(filter(even_lst, l)))

[2, 4, 6, 8]

In [83]:
l = [1,2,3,4,5,6,7,8]

even_lst = lambda x: (x%2==0)

print(tuple(filter(even_lst, l)))

(2, 4, 6, 8)

# Example use with map()

In [86]:
lst = [1,2,3,4,5,6,7,8,9]

new_lst = list(map(lambda x : x**2, lst))

print(new_lst)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [89]:
lst = [1,2,3,4,5,6,7,8,9]

new_lst = lambda x : x**2


print(list(map(new_lst, lst)))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [90]:


new_lst = lambda x : x**2


print(list(map(new_lst, range(0,10))))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [96]:


new_lst = lambda x : x**2


print(list(map(new_lst, range(int(input())))))

10
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
even_lst = lambda x: x%2==0

In [104]:
even_lst = lambda x:   x%2==0

print(list(map(even_lst, range(int(input("enter range:"))))))

enter range:10
[True, False, True, False, True, False, True, False, True, False]

# Example use with reduce()

In [107]:
from functools import reduce

lst = [1,2,3,4,5,6,7,8]

product_lst = reduce(lambda x,y : x*y, lst)

print(product_lst)

40320

In [114]:
from functools import reduce

lst = [1,2,3,4,5,6,7,8]

product_lst = lambda x,y : x*y

a = reduce(product_lst, lst)

print(a)

40320

In [120]:
from functools import reduce

lst = [1,2,3,4,5,6,7,8]

product_lst = lambda x,y : x*y

print(reduce(product_lst, lst))

40320

In [12]:
from functools import reduce

lst = [1,2,3,4,5,6,7,8]

product_lst = reduce(lambda x,y : x*y, lst)

print(product_lst)

40320